body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  text-align: center;
  color: #0597CC;
}

h3{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  color: #000000;
  background-color: #e6e6e6;
  padding: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 15px;
  margin-top: 0px;
}

.chat-container {
  max-width: 700px;
  margin: 50px auto;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.chat-box {
  height: 400px;
  overflow-y: scroll;
}

#user-input {
  width: 95%;
  padding: 10px;
  box-sizing: border-box;
  border-style: none;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px 10px;
}

#user-input::placeholder{
  font-family: Arial, Helvetica, sans-serif;
  color: #a5a5a5;
}

.message-from-lucas{
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  background-color: #dedede;
  padding: 10px 15px;
  border-radius: 20px;
  float: left;
  margin: 10px;
}

.message-from-john{
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  background-color: #0597CC;
  padding: 10px 15px;
  border-radius: 20px;
  float: right;
  margin: 10px;
}